<template name="notFound">
  <br>
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-xs-12 text-align-center">
          <img src="images/not_found/not_found.png" alt="Not found" class="margin-auto" style="width: 80vh; height: 80vh;">
        </div>
      </div>
    </div>
  </div>
</template>
