<template name="korntinLogin">
  <br>
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-xs-12">
          <div class="article-head">
            <hr>
            <h2>
              <strong>{{_ "login"}}</strong>
            </h2>
            <hr>
          </div>
          <div class="article-body">
            {{#if currentUser}}
              <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                <button id="logout-button" type="button" value="Logout" class="btn btn-primary form-control">{{_ "logout"}}</button>
              </div>
            {{else}}
              <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <form role="form" class="login-form">
                  <fieldset class="form-group">
                    <label for="email-id">{{_ "email"}}</label>
                    <input type="email" id="email-id" class="form-control" name="email" placeholder="email" maxlength="50" value="" required>
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="password-id">{{_ "password"}}</label>
                    <input type="password" name="password" class="form-control" placeholder="password" value="" maxlength="50" required>
                  </fieldset>
                  <button id="login-button" type="submit" value="Login" class="btn btn-primary form-control">{{_ "login"}}</button>
                </form>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="xx">

</template>
