<template name="about">
  <br>
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-xs-12">
            <div class="article-head">
              <hr>
              <h2>
                <strong>{{_ "about_us"}}</strong>
              </h2>
              <hr>
            </div>
            {{#if aboutUsReady article articleImage}}
              <div class="article-body">
                {{#with article}}
                  <div class="col-xs-12 col-sm-6">
                    {{#if currentUser}}
                      <div id="edit-about" class="glyphicon glyphicon-edit font-size-25 clickable right " title="{{_ 'edit'}}"></div>
                    {{/if}}
                    {{{body}}}
                  </div>
                {{/with}}
              </div>
              <div class="col-xs-12 col-sm-6">
                  <br class="visible-xs">
                  {{#with articleImage}}
                    <img src="{{getImage imageId}}" class="img-responsive {{isClickable}}" id="about-image" alt="{{_ 'about_us'}}" style="width:100%; height:100%;">
                  {{/with}}
              </div>
            {{else}}
              <div class="text-align-center col-xs-12 col-sm-offset-3 col-sm-6 margin-top-15">
                <img src="images/loading/gears.svg" class="img-responsive margin-auto" alt="{{_ 'loading'}}">
              </div>
            {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="aboutModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content width-percent-100" style="background:white; height:800px; width:800px; " >
                <div class="modal-header">
                  <span class="article-header-text">
                      <strong>{{_ "update_about_us"}}</strong>
                    </span>
                  <span class="glyphicon glyphicon-remove right color-black font-size-25 clickable" data-dismiss="modal" title="close">
                  </span>
                </div>
                <div class="col-xs-12">
                </div>
                <form role="form" id="update-news" class="form-horizontal">
                  <div class="col-xs-12 col-sm-4">
                    <fieldset>
                      <input type="text" name="title" class="form-control margin-bottom-5" maxlength="50" value="{{title}}"  placeholder="Header" required>
                    </fieldset>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <select id="" name="language" class="form-control" required>
                      <option value="" selected disabled="true">{{_ "language"}}</option>
                      {{#each languages}}
                        <option value="{{code}}" {{langIsSelected code ../language}}>{{language}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <table class="width-percent-100">
                      <tr class="width-percent-100">
                        <td class="width-percent-50">
                          <div class="">
                            <input type="checkbox" {{isChecked active}} id="active-input" name="active" value="true">
                            <label for="active-input"><span>{{_ "active"}}</span></label>
                          </div>
                        </td>
                        <td class="nowrap width-percent-50">
                            <input type="number" name="order" style="width:40px; margin-right: 5px;" class="left" id="order-number" value="{{order}}">
                            <label for="order-number" class="left margin-top-5"> {{_ "order"}} </label>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-xs-12">
                    <div id="wysiwyg-editor">
                      {{{body}}}
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <button class="btn btn-primary korntin-button form-control" type="submit" value="Submit">{{_ "update"}}</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</template>

<template name="imageModal">
  <div class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content width-percent-100" style="background:white; height:900px; width:800px; " >
              <div class="modal-header">
                <span class="article-header-text">
                    <strong>{{_ "update_about_us"}}</strong>
                  </span>
                <span class="glyphicon glyphicon-remove right color-black font-size-25 clickable" data-dismiss="modal" title="close">
                </span>
              </div>
              <form method="post" id="file-upload-form" name="file-upload-form" class="file-upload-form" enctype="multipart/form-data" action="" >
                <fieldset class="form-group" >
                  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <label for="image-name">{{_ "image_name"}}</label>
                    <input type="text" id="image-name" class="form-control" name="imageName" required value="">
                  </div>
                  <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                    <span class="btn btn-default btn-file">
                      {{_ "browse_file"}} <input type="file" name="imageFile" id="file-upload-id" class="jqUploadclass" data-form-data="{{ submitData }}" >
                    </span>
                    {{#if fileName}}
                      <span>{{fileName}}</span>
                    {{else}}
                      <span>{{_ "no_file_selected"}}</span>
                    {{/if}}
                  </div>
                  <div class="clear-both"></div>
                  <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                    <button type="submit" id="button" class="btn btn-primary form-control" name="sumbit-btn">{{_ "submit"}}</button>
                  </div>
                </fieldset>
              </form>
              {{#each images}}
                <div class="card clickable col-xs-4">
                  <div class="card-block text-align-center margin-top-10">
                    <div class="glyphicon glyphicon-remove right del-image clickable" title="delete"></div>
                    <img src="{{encoding}}" alt="{{name}}" title='Use "{{name}}"' data-dismiss="modal" class="clickable img-responsive img-elm margin-auto text-align-center card-img-top" style="width:20vh; height:20vh;">
                  </div>
                </div>
              {{/each}}
              <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-15">
                 <ul class="pagination margin-auto">
                  {{#each pages}}
                    <li class="page-elm">
                      <a href="#" class="{{pageIsSelected pagenumber}}">{{pagenumber}} </a>
                    </li>
                  {{/each}}
                </ul>
              </div>
          </div>
      </div>
  </div>
</template>
