<template name="loadingSpinner">
  <br>
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-xs-12 text-align-center">
          {{>spinner}}
        </div>
      </div>
    </div>
  </div>
</template>
