@keyframes loadanimation {
    0%   {color: white; opacity: 1.0;}
    50%  {color: white; opacity: 0.1; }
    100% {color: white; opacity: 1.0; }
}

#korntin-loading {
  color: white;
  font-size: 100px;
  background: inherit;
  text-align: center;
  padding: 20px;
  position:relative;
  animation-name: loadanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
