.bold { font-weight: bold; }
.background-grey { background: silver!important;}
.clickable { cursor:pointer;}
.draggable { cursor:move; }
.clear-both { clear: both;}
.color-red {color: red;}
.color-black {color: black;}
.color-blue {color: blue;}
.color-white {color: white;}
.display-none {display: none;}
.font-size-5 {font-size: 5px;}
.font-size-10 {font-size: 10px;}
.font-size-15 {font-size: 15px;}
.font-size-20 {font-size: 20px;}
.font-size-25 {font-size: 25px;}
.full-height { height: 100%;}
.left { float:left; }
.margin-auto { margin: auto;}
.margin-bottom-5 { margin-bottom: 5px;}
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px;}
.margin-top-5 { margin-top: 5px;}
.margin-top-10 { margin-top: 10px;}
.margin-top-15 { margin-top: 15px; }
.margin-right-5 { margin-right: 5px;}
.margin-right-10 { margin-right: 10px;}
.margin-right-15 { margin-right: 15px; }
.margin-left-5 { margin-left: 5px;}
.margin-left-10 { margin-left: 10px;}
.margin-left-15 { margin-left: 15px; }
.position-relative {position:relative;}
.position-absolute {position: absolute;}
.right { float:right; }
.nowrap { white-space: nowrap; }
.text-align-center { text-align: center; }
.text-black { color: #000000; }
.text-white { color: #FFFFFF;}
.underline { text-decoration: underline;}
.width-percent-10 {width: 10%;}
.width-percent-20 {width: 20%;}
.width-percent-30 {width: 30%;}
.width-percent-33 {width: 33.33%;}
.width-percent-40 {width: 40%;}
.width-percent-50 {width: 50%;}
.width-percent-60 {width: 60%;}
.width-percent-70 {width: 70%;}
.width-percent-80 {width: 80%;}
.width-percent-90 {width: 90%;}
.width-percent-100 {width: 100%;}

.no-horizintal-padding { padding-left: 0px; padding-right: 0px;}
.no-vertical-padding {padding-top: 0px; padding-bottom: 0px;}

.box {
  margin: 0px 5px 20px 5px;
  padding: 30px 30px;
  background: white;
}

h1 {
  font-family: 'Satisfy', cursive;
}
h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab","Helvetica Neue","Helvetica","Arial","sans-serif";
}

footer {
  font-family: "Open Sans","Helvetica Neue","Helvetica,Arial","sans-serif";
  font-size: 1.2em;
}

.article-head {
  margin-bottom: 25px;
  h2 {
    text-transform: uppercase;
    font-size: 1.35em;
    font-weight: normal;
    letter-spacing: 1px;
    text-align:center;
    margin-top:0px;
    padding-top: 0px;
  }
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
}

.article-body {
  font-family: "Open Sans","Helvetica Neue","Helvetica,Arial","sans-serif";
  font-size: 1.2em;

  ul li {
    margin-bottom: 10px;
  }
}

.article-header-text {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  text-align:center;
  margin:0px;
  padding: 0px;
  font-family: "Josefin Slab","Helvetica Neue","Helvetica","Arial","sans-serif";
}

.korntin-button {
  font-family: "Open Sans","Helvetica Neue","Helvetica,Arial","sans-serif";
  font-size: 1em;
}

.btn-file {
    position: relative;
    overflow: hidden;

}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.allways-centered {
   position:fixed;
   left: 50%;
   top:  50%;
   margin-left: -32px;
   margin-top:  -32px;
   z-index: 500;
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label   {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(style/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="radio"] + label span  {
    margin-left:19px;
}

input[type="radio"]:checked + label  {
    background:url(style/check_radio_sheet.png) -19px top no-repeat;
}

input[type="checkbox"] {
  width:20px;
  height:20px;
}
