<template name="news">
  {{#if currentUser}}
    <br>
    <div class="container">
      <div class="box">
        <div class="row">
          <div class="col-xs-12">
            <div class="article-head">
              <hr>
              <h2><strong>{{_ "news"}}</strong></h2>
              <hr>
            </div>
            <form role="form" id="insert-news-form" class="news-form form-horizontal">
              <div class="col-xs-12 col-sm-4">
                <fieldset>
                  <input type="text" name="title" class="form-control margin-bottom-5" maxlength="50"  placeholder="{{_ 'header'}}" required>
                </fieldset>
              </div>
              <div class="col-xs-12 col-sm-4">
                <select id="" name="language" class="form-control" required>
                  <option value="" selected disabled="true">{{_ "language"}}</option>
                  {{#each languages}}
                    <option value="{{code}}">{{language}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-xs-12 col-sm-4">
                <table class="width-percent-100">
                  <tr class="width-percent-100">
                    <td class="width-percent-50">
                      <div class="">
                        <input type="checkbox" id="active-input" name="active" value="true">
                        <label for="active-input"><span>{{_ "active"}}</span></label>
                      </div>
                    </td>
                    <td class="nowrap width-percent-50">
                        <input type="number" name="order" style="width:40px; margin-right: 5px;" class="left" id="order-number" value="0">
                        <label for="order-number" class="left margin-top-5"> {{_ "order"}} </label>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-12">
                <div id="summernote">
                  {{_ "write_article_here"}}
                </div>
              </div>
              <div class="col-xs-12">
                <button class="btn btn-primary korntin-button form-control" type="submit" value="Submit">{{_ "publish"}}</button>
              </div>
            </form>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    {{/if}}
    {{#each newsArticles}}
      {{>newsArticle}}
    {{/each}}
    {{#if moreThanZeroPages}}
      <br>
      <div class="container">
        <div class="box">
          <div class="row">
            <div class="col-xs-12">
              <ul class="pagination margin-auto">
                {{#each pages}}
                  <li class="page-elm clickable">
                    <a href="#" class="{{pageIsSelected pagenumber}}">{{pagenumber}} </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
</template>

<template name="newsArticle">
  <br>
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-xs-12 left">
          <div>
            <span class="left article-header-text"><strong>{{title}}</strong></span>
            {{#if currentUser}}
              <span class="glyphicon glyphicon-remove font-size-25 clickable right del-news" style="margin-left:7px;" title="{{_ 'delete'}}"></span>
              <span class="glyphicon glyphicon-edit font-size-25 clickable right edit-news" title="{{_ 'edit'}}"></span>
            {{/if}}
            <div class="clear-both"></div>
            <div class="article-body">{{formatDate submittedAt "DD-MM-YYYY"}}</div>
          </div>
          <div class="article-body left clear-both margin-top-10" >
            {{{body}}}
            {{#if editActive}}
              <div class="edit-art" id='edit-art-{{_id._str}}'>
                {{>editArticle}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editArticle">
    <form role="form" id="update-news" class="form-horizontal">
      <div class="col-xs-12 col-sm-4">
        <fieldset>
          <input type="text" name="title" class="form-control margin-bottom-5" maxlength="50" value="{{title}}"  placeholder="Header" required>
        </fieldset>
      </div>
      <div class="col-xs-12 col-sm-4">
        <select id="" name="language" class="form-control" required>
          <option value="" selected disabled="true">{{_ 'language'}}</option>
          {{#each languages}}
            <option value="{{code}}" {{langIsSelected code ../language}}>{{language}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-xs-12 col-sm-4">
        <table class="width-percent-100">
          <tr class="width-percent-100">
            <td class="width-percent-50">
              <div>
                <input type="checkbox" {{isChecked active}} id="active-input" name="active" value="true">
                <label for="active-input"><span>{{_ 'active'}}</span></label>
              </div>
            </td>
            <td class="nowrap width-percent-50">
                <input type="number" name="order" style="width:40px; margin-right: 5px;" class="left" id="order-number" value="{{order}}">
                <label for="order-number" class="left margin-top-5"> {{_ 'order'}} </label>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12">
        <div id="wysiwyg-editor-{{_id._str}}" class="wysiwyg-editor">
          {{{body}}}
        </div>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-primary korntin-button form-control" type="submit" value="Submit">{{_ 'publish'}}</button>
      </div>
    </form>
</template>
