.image-gallery-modal {
  background: black;
}

#disp-image {
  width:100%;
  height:100%;
  border: 0px 1px 1px 1px;
  border-color:#DDD;
  border-style:solid;
}

#popup-disp-image {
  width:100%;
  height:100%;
}

#popup-left-div {
  top: 0%;
  right:95%;
  z-index:2;
  height:100%;
  width:30px;
}

#popup-right-div {
  top: 5%;
  left:95%;
  z-index:2;
  height: 95%;
  width:30px;
}

@media (max-width: 768px) {
  #popup-x-out {
    top: 0%;
    left:95%;
    z-index:3;
    height: 5%;
    width:30px;
  }
  #popup-right-arrow {
    top: 50%;
    left:95%;
    z-index:2;
  }
  #popup-left-arrow {
    top: 50%;
    right:95%;
    z-index:3;
  }
}

@media (min-width: 769px) {
  #popup-x-out {
    top: 0%;
    left:99%;
    z-index:3;
    height: 5%;
    width:30px;
  }
  #popup-right-arrow {
    top: 50%;
    left:99%;
    z-index:2;
  }
  #popup-left-arrow {
    top: 50%;
    right:99%;
    z-index:3;
  }
}
