<template name="gallery">
  <br>
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-xs-12">
        {{#if currentUser}}
          <div class="article-head">
            <hr>
            <h2>
              <strong>{{_ "new_image"}}</strong>
            </h2>
            <hr>
          </div>
          <div class="article-body">
            {{#if imageFileUploaded}}
              <div class="allways-centered">
                {{>spinner}}
              </div>
            {{/if}}
            <form method="post" id="file-upload-form" name="file-upload-form" class="file-upload-form" enctype="multipart/form-data" action="" >
              <fieldset class="form-group" >
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                  <label for="image-category">{{_ "select_category"}}</label>
                  <select id="image-category" name="imageCategorySelect" class="image-category-select form-control form-control-xs">
                    {{#each categoryOptions}}
                      <option {{isSelected value}}  value="{{value}}" >{{_ text}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                  <label for="image-name">{{_ "image_name"}}</label>
                  <input type="text" id="image-name" class="form-control" name="imageName" required value="">
                </div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                  <label for="image-description">{{_ "image_description"}}</label>
                  <textarea name="imageDesc" id="image-description" class="form-control" rows="8" cols="40"></textarea>
                </div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                  <span class="btn btn-default btn-file">
                    {{_ "browse_file"}} <input type="file" name="imageFile" id="file-upload-id" class="jqUploadclass" data-form-data="{{ submitData }}" >
                  </span>
                  {{#if fileName}}
                    <span>{{fileName}}</span>
                  {{else}}
                    <span>{{_ "no_file_selected"}}</span>
                  {{/if}}
                </div>
                <div class="clear-both"></div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                  <button type="submit" id="button" class="btn btn-primary form-control" name="sumbit-btn">{{_ "submit"}}</button>
                </div>
              </fieldset>
            </form>
          </div>
          <br>
        {{/if}}
          <div class="article-head">
            <hr>
            <h2>
              <strong>{{_ 'gallery'}}</strong>
            </h2>
            <hr>
          </div>
          {{> imageGallery}}
        </div>
      </div>
    </div>
  </div>
</template>
