<template name="imageGallery">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-align-center">
      <ul class="nav nav-tabs width-percent-100" >
        {{#each categoryOptions}}
            <li role="presentation" class="width-percent-33 category-pill {{displayCategoryIsActive value}}"><a href="#">{{_ text}}</a></li>
        {{/each}}
      </ul>
    </div>
  {{#if evalImageGalleryItems imageGalleryItems}}
    <div id="all-images" class="">
      {{#with getSelectedImage imageGalleryItems}}
        <div class="clickable col-xs-12 col-sm-offset-3 col-sm-6">
          <div class="position-absolute go-left" style="top: 0%; right:100%; z-index:2; height:100%; width:30px;"></div>
          <div class="glyphicon glyphicon-chevron-left position-absolute font-size-25 go-left" style="top: 50%; right:100%; z-index:2;"></div>
          <img src="{{encoding}}" id="disp-image" class="img-responsive margin-auto" alt="Loading...">
          <div class="position-absolute go-right" style="top: 0%; left:100%; z-index:2; height:100%; width:30px;"></div>
          <div class="glyphicon glyphicon-chevron-right position-absolute font-size-25 go-right" style="top: 50%; left:100%; z-index:3;"></div>
        </div>
      {{/with}}
      <br>
      <div class="img-gallery-container col-xs-12 col-sm-offset-3 col-sm-6">
        {{#each imageGalleryItems}}
          <div class="card clickable col-xs-4" id="item{{_id}}">
            <div class="card-block text-align-center margin-top-10">
              {{#if currentUser}}
                <div class="glyphicon glyphicon-remove right del-image clickable" title="delete"></div>
              {{/if}}
              <img class="card-img-top gallery-item margin-auto text-align-center" src="{{encoding}}" id="{{_id}}" style="width:10vh; height:10vh;" alt="Loading...">
              <h4 class="card-title gallery-item hidden-xs">{{imageName}}</h4>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="clickable col-xs-12 col-sm-offset-3 col-sm-6 text-align-center margin-top-10">
        <ul class="pagination margin-auto">
          {{#each pages}}
            <li class="page-elm"><a href="#" class="{{pageIsSelected pagenumber}}">{{pagenumber}} </a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{else}}
    <div class="text-align-center col-xs-12 col-sm-offset-3 col-sm-6 margin-top-15">
      <img src="images/loading/gears.svg" class="img-responsive margin-auto" alt="{{_ 'loading'}}">
    </div>
  {{/if}}
</template>

<template name="imagePopupModal">
  <div class="modal fade image-gallery-modal">
      <div class="modal-dialog" >
          <div class="modal-content article-body">
              <form role="form" id="news-delete-form" name="delete-news" class="news-edit-form form-horizontal">
                <div class="col-xs-12 text-align-center">
                  <div class="position-absolute go-left" id="popup-left-div"></div>
                  <div class="glyphicon glyphicon-chevron-left position-absolute font-size-25 go-left color-white clickable" title="previous" id="popup-left-arrow"></div>
                  <img src="{{encoding}}" alt="Loading..." class="img-responsive popup-image margin-auto" id="popup-disp-image">
                  <div class="position-absolute go-right" id="popup-right-div"></div>
                  <div class="glyphicon glyphicon-remove position-absolute color-white font-size-25 clickable" id="popup-x-out" data-dismiss="modal" title="close"></div>
                  <div class="glyphicon glyphicon-chevron-right position-absolute font-size-25 color-white go-right clickable" title="next" id="popup-right-arrow"></div>
                </div>
                <div class="col-xs-12 text-align-center">
                  <div class="margin-top-5 color-white">
                    <h2>
                      <strong>{{imageName}}</strong>
                    </h2>
                  </div>
                  <div class="margin-top-5 color-white">{{imageDescription}}</div>
                </div>
              </form>
          </div>
      </div>
  </div>
</template>
