<template name="info">
  <br>
  {{#if currentUser}}
    <div class="container">
      <div class="box">
        <div class="row">
          <div class="col-xs-12">
              <div class="article-head">
                <hr>
                <h2>
                  <strong>Company info</strong>
                </h2>
                <hr>
              </div>
              <div class="article-body">
                {{#with companyInfo}}
                  <form role="form" id="info-form" class="form-horizontal">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                      <label for="company-name">{{_ "name"}}:</label>
                      <input type="text" id="company-name" name="name" value="{{name}}" class="form-control " maxlength="100" readonly>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6  margin-top-5">
                      <label for="company-postal-code">{{_ "postal_code"}}:</label>
                      <input type="text" id="company-postal-code" name="postalCode" value="{{postalCode}}" class="form-control" maxlength="254" >
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6  margin-top-5">
                      <label for="company-city">{{_ "city"}}:</label>
                      <input type="text" id="company-city" name="city" value="{{city}}" class="form-control" maxlength="100" >
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                      <label for="company-address">{{_ "address"}}:</label>
                      <input type="text" id="company-address" name="address" value="{{address}}" class="form-control margin-bottom-5" maxlength="250" required>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                      <label for="company-phone">{{_ "phone"}}:</label>
                      <input type="text" id="company-phone" name="phone" value="{{phone}}" class="form-control margin-bottom-5" maxlength="50" required>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                      <label for="company-mail">{{_ "email"}}:</label>
                      <input type="email" id="company-mail" name="mail" value="{{mail}}" class="form-control margin-bottom-5" maxlength="256" required>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                      <button class="btn btn-primary korntin-button form-control margin-top-5" type="submit" value="Submit">{{_ "send"}}</button>
                    </div>
                  </form>
                {{/with}}
              </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
