<template name="korntinHeader">
  <header>
    {{#if currentUser}}
      <a id="pc-logout" class="right margin-right-15 margin-top-5 hidden-xs clickable">{{_ "logout"}}</a>
    {{else}}
      <a id="pc-login" class="right margin-right-15 margin-top-5 hidden-xs clickable">{{_ "login"}}</a>
    {{/if}}
    <div class="container">
      <div class="row">
        <div class="hidden-xs col-sm-12 korntin-header-container">
          <h1 class="korntin-header-text clickable" >{{_ "korntin_name"}}</h1>
          {{#with companyInfo}}
            <span> {{postalCode}} {{city}} | {{address}} | {{_ "phone_nr" phone}} | {{mail}}</span>
          {{/with}}
        </div>
        <div class="visible-xs container-fluid korntin-mobile-header">
          <span class="mobile-header-text korntin-header-text clickable">{{_ "korntin_name"}}</span>
          <span id="b-menu" class="glyphicon glyphicon-menu-hamburger right clickable"
            ></span>
        </div>
      </div>
    </div>
  <!-- PC NAV -->
    <div class="korntin-header-class hidden-xs">
      <div class="container-fluid full-height korntin-navbar">
        <div class="container">
          <div class="row ">
            {{#each routes}}
              <div class="col-xs-12 col-sm-2 korntin-nav-item korntin-nav-std-item clickable">
                <span>{{_ text}}</span>
              </div>
            {{/each}}
            <div role="presentation" class="col-xs-12 col-sm-2 dropdown clickable korntin-nav-item korntin-nav-std-item">
              {{#with currLang}}
                 <div class="dropdown-toggle" data-toggle="dropdown" title="Select language" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{icon}}" alt="{{language}}" style="margin-top:-10px; margin-bottom:-10px;">
                 </div>
               {{/with}}
             <div class="dropdown-menu col-xs-12">
               {{#each languages}}
                 <div class="col-xs-12 korntin-nav-item korntin-nav-std-item header-lang-item text-align-center" title="{{language}}">
                   <img src="{{icon}}" alt="{{language}}">
                 </div>
               {{/each}}
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile NAV -->
    <div class="korntin-header-class hidden-sm hidden-md hidden-lg" id="korntin-nav-menu" style="display:none;">
      <div class="container-fluid full-height korntin-navbar">
        <div class="container">
          <div class="row ">
            {{#each routes}}
              <div class="col-xs-12 col-sm-2 korntin-nav-item korntin-nav-mobile-item clickable">
                <span>{{_ text}}</span>
              </div>
            {{/each}}
            <div role="presentation" class="col-xs-12 col-sm-2 dropdown clickable korntin-nav-item korntin-nav-std-item">
              {{#with currLang}}
                 <div class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{icon}}" alt="{{language}}" title="{{language}}" style="margin-top:-7px; margin-bottom:-10px;">
                 </div>
               {{/with}}
             <div class="dropdown-menu col-xs-12">
               {{#each languages}}
                 <div class="col-xs-12 korntin-nav-item korntin-nav-std-item mobile-lang header-lang-item text-align-center">
                   <img src="{{icon}}" alt="{{language}}">
                 </div>
               {{/each}}
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
