<template name="contact">
  <br>
  <div class="container">
    {{#unless currentUser}}
      <div class="box">
        <div class="row">
          <div class="col-xs-12">
              <div class="article-head">
                <hr>
                <h2>
                  <strong>{{_ "contact_us"}}</strong>
                </h2>
                <hr>
              </div>
                {{#unless completed}}
                  <form role="form" id="contact-form" class="form-horizontal">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                      <input type="text" name="name" class="form-control " maxlength="50"  placeholder="{{_ 'name'}}" required>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6  margin-top-5">
                      <input type="text" name="mail" class="form-control" maxlength="254" placeholder="{{_ 'email'}}">
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6  margin-top-5">
                      <input type="text" name="phone" class="form-control" maxlength="20" placeholder="{{_ 'phone'}}">
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                      <input type="text" name="topic" class="form-control margin-bottom-5" maxlength="50"  placeholder="{{_ 'topic'}}" required>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                      <textarea cols="40" rows="10" class="form-control" maxlength="1000" name="message" placeholder="{{_ 'write_message_here'}}" required></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    {{> honeypot }}
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                      <button class="btn btn-primary korntin-button form-control margin-top-5" type="submit" value="Submit">{{_ "send"}}</button>
                    </div>
                  </form>
                {{/unless}}
              {{#if completed}}
                <div class="col-xs-12 article-body centered text-align-center margin-bottom-15 margin-top-15">
                  <br>
                  <h2 class="margin-top-15 margin-bottom-15">{{_ "thanks_for_responding"}}!</h2>
                  <br>
                </div>
              {{/if}}
          </div>
        </div>
      </div>
    {{/unless}}
  </div>
  {{#if currentUser}}
    <br>
    <div class="container">
      <div class="box">
        <div class="row">
          <div class="col-xs-12 article-body">
            <div class="article-head">
              <hr>
              <h2>
                <strong>{{_ "messages"}}</strong>
              </h2>
              <hr>
            </div>
             {{#each messages}}
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                  <div class="card" style=" border-radius: 25px; border: 2px solid #337ab7;">
                    <div class="card-block" style=" padding: 10px; ">
                      <div class="table-responsive">
                        <span class="glyphicon glyphicon-remove clickable right font-size-25 del-message" title="delete"></span>
                        <table class="text-ali table left" >
                          <tr>
                            <th>{{_ "name"}}:</th>
                            <td>{{name}}</td>
                          </tr>
                          {{#if phone}}
                            <tr>
                              <th>{{_ "phone"}}:</th>
                              <td>{{phone}}</td>
                            </tr>
                          {{/if}}
                          {{#if mail}}
                            <tr>
                              <th>{{_ "mail"}}:</th>
                              <td>{{mail}}</td>
                            </tr>
                          {{/if}}
                            <tr>
                              <th>{{_ "date"}}:</th>
                              <td>{{formatDate submittedAt "DD-MM-YYYY"}}</td>
                            </tr>
                          {{#if ip}}
                            <tr>
                              <th>IP:</th>
                              <td>{{ip}}</td>
                            </tr>
                          {{/if}}
                          <tr>
                            <th>{{_ "topic"}}:</th>
                            <td>{{topic}}</td>
                          </tr>
                          <tr>
                            <th colspan="2">{{_ "message"}}: </th>
                          </tr>
                          <tr>
                            <td colspan="2">"{{message}}"</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
             {{/each}}
             <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <ul class="pagination margin-auto">
                 {{#each pages messages}}
                   <li class="page-elm">
                     <a href="#" class="{{pageIsSelected pagenumber}}">{{pagenumber}} </a>
                   </li>
                 {{/each}}
               </ul>
             </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
