<template name="korntinFooter">
  <div class="korntin-footer container-fluid">
    <div class="container">
      {{#with companyInfo}}
        <div class="col-xs-12 col-sm-4 korntin-footer-tab" >
          <span class="korntin-footer-span">
            <strong>{{_ "phone"}}</strong>: {{_ "phone_nr" phone}}
            <br>
            <strong>{{_ "email"}}</strong>: {{mail}}
          </span>
        </div>
        <div class="col-xs-12 col-sm-4 korntin-footer-tab" >
          <span class="korntin-footer-span">
            <strong>{{_ "city"}}</strong>: {{city}}
            <br>
            <strong>{{_ "postal_code"}}</strong>: {{postalCode}}
            <br><strong>{{_ "address"}}</strong>: {{address}}
          </span>
        </div>
        <div class="col-xs-12 col-sm-4 korntin-footer-tab" >
          <span class="korntin-footer-span">
            <strong></strong>
          </span>
        </div>
      {{/with}}
    </div>
  </div>
</template>
