<template name="carousel">
  {{#if carouselItems}}
    <div id="carousel" class="carousel slide">
        <ol class="carousel-indicators hidden-xs">
          {{#each carouselItems}}
             {{>carouselItem}}
           {{/each}}
        </ol>
        <div class="carousel-inner">
          {{#each carouselItems}}
             {{>carouselImage}}
           {{/each}}
        </div>
        {{>leftRightCtrl}}
    </div>
  {{else}}
    <img src="images/loading/gears.svg" class="img-responsive margin-auto" alt="{{_ 'loading'}}">
  {{/if}}
</template>



<template name="carouselItem">
    <li data-target="#myCarousel" data-slide-to="{{slideNr}}" class="{{getLiClass slideNr}}"></li>
</template>

<template name="carouselImage">
  <div class="{{getDivClass slideNr}}">
    <img src="{{encoding}}" class="img-responsive" alt="">
  </div>
</template>

<!-- Left and right controls -->
<template name="leftRightCtrl">
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</template>
