<template name="home">
  {{#if currentUser}}
    <div class="container">
      <br>
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="width-percent-100">
                {{#each carouselItems}}
                  <div class="col-xs-3 carousel-container">
                    {{#if currentUser}}
                      <span class="glyphicon glyphicon-remove clickable right font-size-25 del-item" title="{{_ 'delete'}}"></span>
                    {{/if}}
                    <div id="name" class="clear-both"></div>
                    <img src="{{encoding}}" alt="{{name}}" title="{{name}}" draggable="true" class="img-responsive draggable img-drag margin-auto" id="car-img-{{_id._str}}" style="height:10vh; width:10vh;" >
                  </div>
                {{/each}}
              </div>
              <div class="clear-both"></div>
              <form method="post" id="file-upload-form" name="file-upload-form" class="file-upload-form" enctype="multipart/form-data" action="" >
                <fieldset class="form-group" >
                  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <h3>{{_ "edit_carousel"}}</h3>
                  </div>
                  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <label for="image-name">{{_ "image_name"}}</label>
                    <input type="text" id="image-name" class="form-control" name="imageName" required value="">
                  </div>
                  <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                    <span class="btn btn-default btn-file">
                      {{_ "browse_file"}}<input type="file" name="imageFile" id="file-upload-id" class="jqUploadclass" data-form-data="{{ submitData }}" >
                    </span>
                    {{#if fileName}}
                      <span>{{fileName}}</span>
                    {{else}}
                      <span>{{_ "no_image_selected"}}</span>
                    {{/if}}
                  </div>
                  <div class="clear-both"></div>
                  <div class="col-xs-12 col-sm-offset-3 col-sm-6 margin-top-5">
                    <button type="submit" id="button" class="btn btn-primary form-control" name="sumbit-btn">
                      {{_ "submit"}}
                    </button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
      </div>
    </div>
  {{/if}}

  <div class="container">
    <br>
    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            {{>carousel}}
          </div>
        </div>
    </div>
    <div class="row">
      {{#each articles}}
        <div class="col-xs-12 col-sm-6">
          <div class="box">
            {{#if currentUser}}
              <div class="glyphicon glyphicon-edit font-size-25 clickable right art-edit" title="{{_ 'edit'}}"></div>
            {{/if}}
            <div class="article-head">
              <hr>
              <h2>
                <strong>{{title}}</strong>
              </h2>
              <hr>
            </div>
            <div class="article-body">
              {{{body}}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="homeModal">
  <div class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content width-percent-100" style="background:white; height:800px; width:800px; " >
              <div class="modal-header">
                <span class="article-header-text">
                    <strong>{{_ "update_home"}}</strong>
                  </span>
                <span class="glyphicon glyphicon-remove right color-black font-size-25 clickable" data-dismiss="modal" title="{{_ 'close'}}">
                </span>
              </div>
              <div class="col-xs-12"></div>
              <form role="form" id="update-news" class="form-horizontal">
                <div class="col-xs-12 col-sm-4">
                  <fieldset>
                    <input type="text" name="title" class="form-control margin-bottom-5" maxlength="50" value="{{title}}"  placeholder="Header" required>
                  </fieldset>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <select id="" name="language" class="form-control" required>
                    <option value="" selected disabled="true">{{_ "language"}}</option>
                    {{#each languages}}
                      <option value="{{code}}" {{langIsSelected code ../language}}>{{language}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <table class="width-percent-100">
                    <tr class="width-percent-100">
                      <td class="width-percent-50">
                        <div class="">
                          <input type="checkbox" {{isChecked active}} id="active-input" name="active" value="true">
                          <label for="active-input"><span>{{_ "active"}}</span></label>
                        </div>
                      </td>
                      <td class="nowrap width-percent-50">
                          <input type="number" name="order" style="width:40px; margin-right: 5px;" class="left" id="order-number" value="{{order}}">
                          <label for="order-number" class="left margin-top-5">{{_ "order"}} </label>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-xs-12">
                  <div id="wysiwyg-editor">
                    {{{body}}}
                  </div>
                </div>
                <div class="col-xs-12">
                  <button class="btn btn-primary korntin-button form-control" type="submit" value="Submit">Update</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</template>
