.korntin-footer {
  background-color: white;
  display: block;
  font-color:  #666666;
  font-size: 1.7em;
  font-family: 'EB Garamond', serif;
  font-weight: normal;


  @media (max-width: 767px) {
     .korntin-footer-tab {
       padding-bottom: 20px;
       padding-top: 20px;
       text-align: center;

     }
   }

   @media (min-width: 768px) {
    .korntin-footer-tab {
      padding-bottom: 20px;
      padding-top: 20px;
      text-align: left;

    }
  }
}
