.korntin-header-container {
  margin-bottom: 30px;
  text-align: center;
  h1 {
    color: rgb(169, 129, 16);
    font-size: 6em;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
    text-shadow: 0px 0px 1px #000;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  span {
    color: rgb(169, 129, 16);
    font-size: 1.6em;
    font-family: "Open sans","sans-serif";
    font-weight: lighter;
  }
}

.korntin-mobile-header {
  background: white;

  .mobile-header-text {
    color: black;
    font-size: 40px;
    font-family: 'Satisfy', "cursive";
    font-weight: bold;
  }

  #b-menu {
    font-size: 30px;
    margin-top: 12px;
  }

}
