.korntin-navbar {
  background: white;
  font-size: 1.7em;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: normal;

  .korntin-nav-item {
    color:  #666666;
    padding-bottom: 29px;
    padding-top: 29px;

    &:hover {
      background: #e6e6e6;
      color: black;
    }
  }
}
